header h1 {
  padding: 2rem;
  font-size: 4rem;
  text-align: center;
  color: #439775;
}

header h2 {
  text-align: center;
  color: #439775;
}

#navBar {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

#navBar #responsive-navbar-nav {
  justify-content: center;
}

#navBar #responsive-navbar-nav a {
  padding: 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  color: #439775;
  border-top: solid 2px #E0BAD7;
  border-bottom: solid 2px #E0BAD7;
  margin: 1rem;
}

#navBar #responsive-navbar-nav a:hover {
  color: #000F08;
  border-top: solid 4px #E0BAD7;
  border-bottom: solid 4px #E0BAD7;
}

#navBar #responsive-navbar-nav div.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navBar #responsive-navbar-nav div.show div {
  margin-top: -0.8rem;
  display: flex;
  justify-content: center;
}

#navBar #responsive-navbar-nav div.show div a {
  border-top: none;
  border-bottom: none;
  margin: 0;
  padding: 0.5rem;
}

#navBar #responsive-navbar-nav div.show div a:hover {
  background-color: #000F08;
  color: #E0BAD7;
  border-top: none;
  border-bottom: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Baskervville', serif;
}
