#navBar {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;

    #responsive-navbar-nav {
        justify-content: center;
        a {
            padding: 2rem;
            text-decoration: none;
            font-size: 1.3rem;
            color: $color2;
            border-top: solid 2px $color5;
            border-bottom: solid 2px $color5;
            margin: 1rem;
        }
        a:hover {
            color: $color1;
            border-top: solid 4px $color5;
            border-bottom: solid 4px $color5;
        }
        div.show {
            display: flex;
            flex-direction: column;
            justify-content: center;
            div {
                margin-top: -0.8rem;
                display: flex;
                justify-content: center;
                a {
                    border-top: none;
                    border-bottom: none;
                    margin: 0;
                    padding: 0.5rem;
                }
                a:hover {
                    background-color: $color1;
                    color: $color5;
                    border-top: none;
                    border-bottom: none;
                }
            }
        }
    }

}